.MainDash{
    padding-top: -5rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    
}
.MainDash2{
    margin-top: -30px;
}

.MainDash3{
    flex-direction: row;
}
@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}
